body {
  text-align: center;
  font-family: sans-serif;
}

#score-board {
  font-size: 60px;
  text-align: center;
  background-color: lightgrey;
  width: 30%;
  min-width: 500px;
  margin: 20px auto;
  padding: 50px 20px;
}

input {
  font-size: 26px;
  text-align: center;
}

#user-input {
  margin-top: 30px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
}

.user-choice {
  background-color: #2349a7;
}

#reset-button {
  background-color: red;
  margin-top: 20px;
}

p {
  font-size: 24px;
}
